.toplevel_page_aw-contact-form {
    background-color: #111827;
}
h1 span.gradient-text {
    font-size: 40px;
    background: linear-gradient(to right, #AD27DA, #711AE1, #11D2E7); 
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text; 
}
.generate-btn {
    background: linear-gradient(to right, #1195e7, #6818E2, #711AE1, #9420f2);
    position: relative;

    &::before {
        content: '';
        background: url(../images/Union.png) no-repeat;
        position: absolute;
        right: 18px;
        width: 21px;
        height: 22px;
    }
}